In [4]:
x = 5
type(x)

int

In [5]:
x = float(5)
type(x)

float

In [6]:
my_str = str("Alik")
type(my_str)

str

In [7]:
my_int_var = 6

In [8]:
my_float_var = float(my_int_var)
type(my_float_var)

float

In [9]:
x = int("12345")
type(x)

int

In [10]:
y = str(5)
type(y)

str

In [11]:
my_bool_var = True
x = int(my_bool_var)
type(x)

int

In [12]:
x

1

In [13]:
name = "Alik"
print("My name is " + name)

My name is Alik

In [14]:
x = 5
print("The value of x is " + x) # error

TypeError: can only concatenate str (not "int") to str

In [15]:
print("The value of x is " + str(x))

The value of x is 5